addon-sdk-*
firefox/yifan-slideshow.xpi
firefox/data/jquery-1.11.1.min.js
firefox/data/yifansays.js
firefox/data/yifansays.css
chrome/key.pem
chrome/jquery-1.11.1.min.js
chrome/yifansays.js
chrome/yifansays.css
