html,body{
  height: 100%;
}
#yifan_container {
  position:fixed;
  z-index: 99999999;
}
#yifan_container #yifan_popup {
  padding: 20px;
  width: 300px; height:140px;
  position: absolute;
  z-index: 99999999;
  -webkit-box-shadow: rgba(0,0,0,.4) 0px 1px 5px -1px;
  box-shadow: rgba(0,0,0,.4) 0px 1px 5px -1px;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  display: none;
}
#yifan_container #yifan_popup #yifan_says {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  height: 115px;
  overflow-y: auto;
  text-algin: center;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
#yifan_container #yifan_popup #yifan_says p,
#yifan_container #yifan_popup #yifan_says span {
  padding: 0; margin: 0;
  font-size: 18px; line-height: 26px;
}
#yifan_container #yifan_popup #yifan_popup_arrow {
  width: 0px; height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 29.5%;
}
#yifan_container #yifan_popup #yifan_popup_arrow_shadow {
  width: 0px; height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 30%;
}
#yifan_container #yifan_say_hi{
  padding: 0; margin: 0;
  font-size: 18px; line-height: 26px;
  padding-bottom: 5px;
  display: block;
}
#yifan_container #yifan_says #yifan_say_bighi{
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}
#yifan_container #yifan_close_popup{
  position: absolute;
  right: 12px; top: 10px;
  cursor: pointer;
  color: #ccc;
}
.yifan_readmore {
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}
